body {
    background: $color-white;
    color: $color-grey-dark;
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

// h1
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* fixes the shake that happens at the end of the moveInLeft/Rigth animations */
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

// h2
.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
    /*  The next 3 (5) lines: 
        The background-clip property defines how far the background (color or image) should extend within an element.
        Here below: the background image clips to the text foreground so the text is filled with the background image and 
        shines through it because the text is made transparent: */
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-image: -webkit-gradient(linear, left top, right top, from($color-primary-light), to($color-primary-dark));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

// h3
.headign-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

// p
.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        padding-bottom: 3rem;
    }
}