.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // this will move the section up towards the heading and close the cap between the header and the about sections.
}